<?xml version="1.0"?>
<settings>
  <mirrors>
    <mirror>
      <id>Nexus</id>
      <name>Nexus Public Mirror</name>
      <url>{{ (ds "config").nexus.url }}/repository/maven-all-public/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>Nexus</id>
      <username>admin</username>
      <password>{{ (ds "config").nexus.adminPassword }}</password>
    </server>
  </servers>
</settings>

